:root {
    --acolor: #a2c5b8;
    --bcolor: #5c8374;
    --ccolor: #183d3d;
    --dcolor: #040d12;
}
.task-detail{
    padding: 10px;
}
.task-detail h2{
    font-weight: 600;
    color: var(--ccolor);
    margin-bottom: 40px;
}
.alldata{
    display: flex;
    gap: 50px;
    margin-bottom: 10px;
}
.heading p{
    color: var(--ccolor);
}
.data p{
    color: var(--bcolor);
}
.data p img{
    width: 20px;
    height: 20px;
}
.task-detail a{
    background-color: var(--bcolor);
    box-shadow: rgba(0, 0, 0, 0.35) 2px 5px 40px;
    color: white;
}
.task-detail a:hover{
    background-color: var(--bcolor);
    color: white;
}
.task-notstarted{
    width: 120px;
    background-color:rgb(206, 9, 9);
    color: white !important;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding: 2px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 2px 5px 30px;
}
.task-pending{
    width: 120px;
    background-color:rgb(171, 158, 10);
    color: white !important;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding: 2px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 2px 5px 30px;
}
.task-completed{
    width: 120px;
    background-color:rgb(10, 171, 39);
    color: white !important;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding: 2px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 2px 5px 30px;
}
.task img{
    margin-right: 10px;
    margin-left: 10px;
}
.task-high{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f1aeae;
    width: 100px;
    padding: 4px;
    border-radius: 10px;
    font-weight: 600;
    color: red !important;
    box-shadow: rgba(0, 0, 0, 0.35) 2px 5px 30px;
}
.task-medium{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f3ecb7;
    width: 120px;
    padding: 4px;
    border-radius: 10px;
    font-weight: 600;
    color: rgb(255, 174, 0) !important;
    box-shadow: rgba(0, 0, 0, 0.35) 2px 5px 30px;
}
.task-low{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #b0f1ae;
    width: 100px;
    padding: 4px;
    border-radius: 10px;
    font-weight: 600;
    color: rgb(7, 122, 7) !important;
    box-shadow: rgba(0, 0, 0, 0.35) 2px 5px 30px;
}
